api:
  dashboard: true
  insecure: true

entryPoints:
  web:
    address: ':80'
  websecure:
    address: ':443'
    http:
      tls: {}

providers:
  docker:
    watch: true
    exposedByDefault: false
    